{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>DemraBazar</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon" />
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor_dashboard/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor_dashboard/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor_dashboard/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor_dashboard/quill/quill.snow.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor_dashboard/quill/quill.bubble.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor_dashboard/remixicon/remixicon.css' %}" rel="stylesheet" />
  <link href="{% static 'vendor_dashboard/simple-datatables/style.css' %}" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="{% static 'css_dashboard/style.css' %}" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: DemraBazaar
  * Updated: Jul 27 2023 with Bootstrap v5.3.1
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
    .apply-link {
      display: inline-block;
      padding: 10px 20px;
      background-color: #0077b5;
      /* LinkedIn blue color */
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .apply-link:hover {
      background-color: #005e96;
      /* Darker blue on hover */
      color: white;
      /* Darker blue on hover */
    }

    .search-bar {
      margin-top: 0.8%;
    }

    .filter {
      position: absolute;
      inset: -75px -880px auto auto;
      margin: 2px;
      transform: translate(-900px, 85px);
    }
    @media (min-width: 768px) {
      img {
        max-width: 100%;
        height: auto;
      }
    }
    
    /* CSS for smaller screens */
    @media (max-width: 767px) {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  </style>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'index' %}" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="" />
        <span class="d-none d-lg-block">DemraBazar</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->
        <!-- End Messages Nav -->

        <li style="margin-left: 78%; margin-bottom: 2.3rem; font-weight: bold; font-size:larger" class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}">
                <i class="bi bi-three-dots"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->
      </ul>
    </nav>
    <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-laptop"></i><span>Jobs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'product' %}">
              <i class="bi bi-circle"></i><span>All Jobs</span>
            </a>
          </li>
          <li>
            <a href="{% url 'post_product' %}">
              <i class="bi bi-circle"></i><span>Post A Job</span>
            </a>
          </li>
        </ul>
      </li>
      <!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#form-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-cart-plus"></i><span>Products</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="form-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'product' %}">
              <i class="bi bi-circle"></i><span>All Products</span>
            </a>
          </li>
          <li>
            <a href="{% url 'post_product' %}">
              <i class="bi bi-circle"></i><span>Post A Products</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
  <!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>Product</h1>
    </div>
    <!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          {% for product in product_data %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{product.product_title}}</h5>
              <!-- All Product -->
              <div class="row mb-3">
                <div class="col-sm-1">
                  <i style="font-size: 20px" class="fa fa-copyright"></i>
                </div>
                <div class="col-sam-11">
                  <h4><img src="/media/{{product.product_image}}" style="width:600px ; height:400px" alt="{{product.product_title}}"></h4>
                  </div>
                <div class="col-sm-11">
                  <h6>{{product.type}}</h6>
                </div>
                <div class="col-sm-1">
                  <i style="font-size: 20px" class="bi bi-person-circle"></i>
                </div>
                <div class="col-sm-11">
                  <h6>{{product.user_posted}}</h6>
                </div>
                <div class="col-sm-1">
                  <i style="font-size: 20px" class="fa fa-money-bill"></i>
                </div>
                <div class="col-sm-11">
                  <h6>{{product.price}}</h6>
                </div>
                <div class="col-sm-1">
                  <i style="font-size: 20px" class="bi bi-buildings-fill"></i>
                </div>
                <div class="col-sm-11">
                  <h6>{{product.brand}}</h6>
                </div>
                <div class="col-sm-12">
                  <label><b>About The Product</b></label>
                </div>
                <div class="col-sm-12">
                  <p>{{product.product_description|linebreaksbr|safe}}</p>
                </div>
                <div class="col-sm-12">
                  <label id="contact_number" style="display: none"><b>Contact:</b> {{product.contact_number}}</label>
                </div>
                <div class="col-sm-12">
                  <button onclick="showContactField()" class="apply-link">
                    Contact Number To Buy
                  </button>
                </div>
              </div>
              <!-- End All Jobs -->
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>DemraBazar</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor_dashboard/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static 'vendor_dashboard/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor_dashboard/chart.js/chart.umd.js' %}"></script>
  <script src="{% static 'vendor_dashboard/echarts/echarts.min.js' %}"></script>
  <script src="{% static 'vendor_dashboard/quill/quill.min.js' %}"></script>
  <script src="{% static 'vendor_dashboard/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static 'vendor_dashboard/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static 'vendor_dashboard/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js_dashboard/main.js' %}"></script>
  <script>
    function showContactField() {
      var contactField = document.getElementById("contact_number");
      if (
        contactField.style.display === "none" ||
        contactField.style.display === ""
      ) {
        contactField.style.display = "block";
      } else {
        contactField.style.display = "none";
      }
    }
  </script>
</body>

</html>